 nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        
        border: 2px solid darkgray;
        background-color: #f0f0f0;
        margin: 10px 0;
        border-radius: 5px;
        padding: 10px;
        list-style-type: none;
      }
      a {
        text-decoration: none; 
        color: black; 
      } 